*{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    padding:10px;
    border-bottom: 2px solid black;
    background-color:lightgrey;
}

.left{
    display: flex;
    align-items: center;
}

.left h1{
    font-size:30px;
    font-weight: bold;
}

.right{
    display: flex;
    align-items: center;
}

.right li{
    list-style: none;
    margin: 10px;
    padding: 0px 10px;
    font-size:23px;
}

.right a{
    text-decoration:none;
    color: black;
}
.right a:hover{
    color: gray;
}

.value-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.value-container label{
    font-size: 25px;
    font-weight: bold;
}

.value-container input{
    height: 30px;
    min-width: 30%;
    margin: 1rem 0;
    text-align: center;
    font-size:25px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 1rem 2rem;
    background-color: black;
    color: lightgrey;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

button:hover{
    color: darkgrey;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 2rem;
    font-weight: bold;
}


.question-container p{
    text-align: center;
    font-size:25px;
    font-weight: bold;
    margin-top:1rem;
}

.answers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0.5rem;
    font-size:25px;
    padding:1rem 2rem;
}

.question-container label{
    padding: 0rem 2rem;
}

.question-container input{
    margin: 1rem;
    height: 1rem;
}